body {
  margin: 0;
  padding: 0;
  color: #5C2A2D;
  background-color: #F7F7F7;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header {
  position: relative;
  top: 0;
  width: 100%;
  background-color: #F7F7F7;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 6rem;
  align-items: center;
}

header .content-1 {
  display: flex;
  align-items: center;

}

header .logo-1 {
  width: 5rem;
}

header .content-2 {
  display: flex;
  align-items: center;
}

header .content-2 ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

header .nav-item {
  margin: 0 1rem;
}

header .nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #5C2A2D;
  font-weight: 500;
  font-family: "Dancing Script", cursive;
  font-style: normal;
}

/* Adicionando efeito de sombra no hover */
header .nav-item:hover .nav-link {
  font-size: 1.52rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

header .mobile-menu-icon {
  display: none;
}

header .mobile-menu {
  display: none;
}


.wrapper {
  width: 100%;
  margin: 0 auto;
}

main {
  display: block;
  background-color: #FFF;
}

main .container {
  width: 100%;
  max-width: 7px;
  margin: 0 auto;
  padding: 0 20px;
}

section.module p {
  margin-bottom: 40px;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #f7f7f7;
  font-weight: 900;
}

/*
section.module.content {
  padding: 1rem 0;
  padding-left: 5rem;
  padding-right: 40rem;
  text-align: left;
  background-color: #f7f7f7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 1.3rem;
  color: #5C2A2D;
}
*/


section.module.parallax1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.module.parallax1:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
}

section.module.parallax2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/*
section.module.parallax2:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;

  background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
}*/


section.module.parallax-1 {
  background-image: url(../images/home-page.jpeg);
}

/*
section.module.parallax-2 {
  background-image: url(../images/Ilha-Gastronomica/ilha-gastronomica\ \(34\).JPG);
}
*/

section.module.parallax-3 {
  background-image: url();
}

section.module.parallax1 h1 {
  color: #FFF;
  text-align: center;
  font-size: 3rem;
  z-index: 50;
  font-family: "Lobster", sans-serif;
  font-style: normal;
  padding-top: 10%;

}


footer {
  position: relative;
  top: 0;
  width: 100%;
  background-color: #F7F7F7;
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem;
  align-items: center;
}

footer .content-1 {
  display: flex;
  align-items: center;
}

footer .content-1 ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
}

footer .nav-item {
  margin: 0 15px;
}

footer .nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #5C2A2D;
  font-weight: 500;
  font-family: "Dancing Script", cursive;
  font-style: normal;
}

/* Adicionando efeito de sombra no hover */
footer .nav-item:hover .nav-link {
  font-size: 1.52rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

footer .logo-1 {
  width: 5rem;
}

footer .content-2 {
  display: flex;
  align-items: center;
}


footer .content-3 {
  display: flex;
  align-items: center;
}

footer .logo-2 {
  width: 5rem;
  border-radius: 1rem;
}

.floating-buttons {
  position: fixed;
  bottom: -1000px;
  /* Inicialmente posicionado abaixo do visível */
  right: 20px;
  z-index: 1000;
  transition: bottom 1s ease-in-out;
  /* Adiciona transição suave */
}

.floating-buttons.show {
  bottom: 20px;
  /* Mostra os botões quando a classe 'show' é adicionada */
}

.floating-buttons a {
  display: block;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
  /* Adiciona transição suave */
}

.floating-buttons a:hover {
  transform: scale(1.5);
  /* Aumenta em 10% quando passa o mouse */
}

@media screen and (max-width: 1360px) {

  header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #F7F7F7;
    z-index: 1000;
  }

  header .container {
    padding: 1.5rem 4rem;
  }

  header .nav-item {
    display: none;
  }

  header .mobile-menu-icon {
    display: block;
  }

  header .icon {
    width: 2rem;
  }

  header .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }


  header .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align:center;
    padding-bottom: 1rem;
    margin-block-start: 0rem;
    padding-inline-start: 0rem;
  }

  header .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  header .open {
    display: block;
    text-align: center;
  }


  /*
  section.module.content {
    padding: 10px 0;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    background-image: url(../images/backCanvas.png);
    background-size: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    color: #F7F7F7;
  }
  */

  section.module h2 {
    font-size: 2rem;
  }

  .module h2,
  p {
    padding: 0 8px;
  }

  .container {
    margin: 0 auto;
    padding: 0;
  }

  section.module.parallax1 h1 {
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    z-index: 50;
    font-family: "Lobster", sans-serif;
    font-style: normal;
    padding-top: 20%;
  }

  footer .container {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    align-items: center;
    flex-direction: column;
  }

  footer .content-1 {
    display: none;
  }

  footer .nav-link {
    font-size: 0.5rem;
  }

  footer .nav-item:hover .nav-link {
    font-size: 0.6rem;
  }

  footer .logo-2 {
    width: 3rem;
  }


}