body {
    margin: 0;
    padding: 0;
    color: #242424;
    background-color: #F7F7F7;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    color: #000;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #F7F7F7;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 6rem;
    align-items: center;
}

header .content-1 {
    display: flex;
    align-items: center;

}

header .logo-1 {
    width: 5rem;
}

header .content-2 {
    display: flex;
    align-items: center;
}

header .content-2 ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

header .nav-item {
    margin: 0 15px;
}

header .nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #5C2A2D;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

/* Adicionando efeito de sombra no hover */
header .nav-item:hover .nav-link {
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


main {
    margin: 0 auto;
}

main .container {
    scale: 100%;
    width: 100%;
    height: 100%;
    background-image: url(../images/Chef-Flavio-Coelho/chef-flavio-coelho2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

main .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(247, 247, 247, 0), rgba(247, 247, 247, 0), rgba(247, 247, 247, 0.1), rgba(247, 247, 247, 0.9), rgba(247, 247, 247, 1));
}


main .content {
    position: relative;
    z-index: 1;
    color: #5C2A2D;
    padding: 110px;
    padding-left: 60%;
}

main .title-1 {
    font-size: 60px;
    color: #5C2A2D;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main .paragraf-1 {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: #000;
    font-weight: 500;
}


footer {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #F7F7F7;
}

footer .container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 6rem;
    align-items: center;
}

footer .content-1 {
    display: flex;
    align-items: center;
}

footer .content-1 ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

footer .nav-item {
    margin: 0 15px;
}

footer .nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #5C2A2D;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

/* Adicionando efeito de sombra no hover */
footer .nav-item:hover .nav-link {
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

footer .logo-1 {
    width: 5rem;
}

footer .content-2 {
    display: flex;
    align-items: center;
}


footer .content-3 {
    display: flex;
    align-items: center;
}

footer .logo-2 {
    width: 5rem;
    border-radius: 1rem;
}

.floating-buttons {
    position: fixed;
    bottom: -1000px;
    /* Inicialmente posicionado abaixo do visível */
    right: 20px;
    z-index: 1000;
    transition: bottom 1s ease-in-out;
    /* Adiciona transição suave */
}

.floating-buttons.show {
    bottom: 20px;
    /* Mostra os botões quando a classe 'show' é adicionada */
}

.floating-buttons a {
    display: block;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
    /* Adiciona transição suave */
}

.floating-buttons a:hover {
    transform: scale(1.5);
    /* Aumenta em 10% quando passa o mouse */
}

@media all and (max-width: 1360px) {
    main .container {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 20%;
    }

    main .container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(247, 247, 247, 0.3), rgba(247, 247, 247, 0.5), rgba(247, 247, 247, 0.7), rgba(247, 247, 247, 0.9), rgba(247, 247, 247, 1));
    }

    main .content {
        padding: 10px;
    }

    main .title-1 {
        font-size: 30px;
    }

    main .paragraf-1 {
        font-size: 20px;
        font-weight: 500;
    }
}